{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/li__1_-removebg-preview.ico' %}">

    <title>ClubName FC</title>
    <link rel="stylesheet" href="{% static 'css/club-staff.css' %}">

</head>
<body>
    <header>
      <a href="..index.html">

      <img src="{% static 'images/li__1_-removebg-preview.png' %}" alt="logo">
      </a>

        <!-- Navigation bar -->
        <nav class="navbar">
            <a class="active" href="#team">Team</a>
            <a href="#matches">Matches</a>            
        </nav>
    </header>

    <section class="team live" id="team">
        <!-- Homepage content -->
        <div class="teams">
            <div class="container">
                <h2 class="heading">Coaching Staff</h2>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="team-member">
                        <img src="{% static 'images/fut1.png' %}" alt="Image" class="img-fluid" />
                
                        <div>
                            <div class="inner-div">
                                <h3>Club Name</h3>
                                <p>Stadium/Venue: Club Stadium</p>
                                <p>Manager: John Doe</p>
                                <h3>League Position</h3>
                                <a class="underline-button">Title</a>
                            </div>
                        </div>
                    </div>
                </div>
                
        
                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut1.png' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>Club Name</h3>
                          <p>Stadium/Venue: Club Stadium</p>
                          <p>Manager: John Doe</p>
                          <h3>League Position</h3>
                          <a class="underline-button">Title</a>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut1.png' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>Club Name</h3>
                          <p>Stadium/Venue: Club Stadium</p>
                          <p>Manager: John Doe</p>
                          <h3>League Position</h3>
                          <a class="underline-button">Title</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut1.png' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>Club Name</h3>
                          <p>Stadium/Venue: Club Stadium</p>
                          <p>Manager: John Doe</p>
                          <h3>League Position</h3>
                          <a class="underline-button">Title</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="container other">
                <h2 class="heading">Players Profile</h2>
                <div class="row">
                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut7.jpg' %}" alt="Image" class="img-fluid" />

                      <div>
                          <div class="inner-div">
                            <h3>Lorem Ipsum</h3>
                            <p>Position: Forward</p>
                            <p>Number: 10</p>
                            <p>Nationality: Example Country</p>
                            <p>Club: Example Club</p>
                            <p>Team: Example Team</p>
                          <a class="underline-button">Position<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
        </div>
                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut7.jpg' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>Lorem Ipsum</h3>
                            <p>Position: Forward</p>
                            <p>Number: 10</p>
                            <p>Nationality: Example Country</p>
                            <p>Club: Example Club</p>
                            <p>Team: Example Team</p> 
                          <a class="underline-button">Position<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut7.jpg' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>Lorem Ipsum</h3>
                            <p>Position: Forward</p>
                            <p>Number: 10</p>
                            <p>Nationality: Example Country</p>
                            <p>Club: Example Club</p>
                            <p>Team: Example Team</p> 
                          <a class="underline-button">Position<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut7.jpg' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>Lorem Ipsum</h3>
                          <p>Position: Forward</p>
                          <p>Number: 10</p>
                          <p>Nationality: Example Country</p>
                          <p>Club: Example Club</p>
                          <p>Team: Example Team</p>
                          <a class="underline-button">Position<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="container other">
                <h2 class="heading">Other Staff Profiles</h2>
                <div class="row">
                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut4.jpg' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>Jane Smith</h3>
                        <p>Position: Physiotherapist</p>
                        <p>Nationality: Another Country</p>
                        <p>Experience: 8 years</p>
                        <p>Club: Example Club</p>
                          <a class="underline-button">Title<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut4.jpg' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>John Doe</h3>
                        <p>Position: Manager</p>
                        <p>Nationality: Example Country</p>
                        <p>Experience: 10 years</p>
                        <p>Club: Example Club</p>
                          <a class="underline-button">Title<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut4.jpg' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>John Doe</h3>
                        <p>Position: Manager</p>
                        <p>Nationality: Example Country</p>
                        <p>Experience: 10 years</p>
                        <p>Club: Example Club</p>
                          <a class="underline-button">Title<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3" >
                    <div class="team-member">
                      <img src="{% static 'images/fut4.jpg' %}" alt="Image" class="img-fluid" />

                      <div>
                        <div class="inner-div">
                          <h3>John Doe</h3>
                        <p>Position: Manager</p>
                        <p>Nationality: Example Country</p>
                        <p>Experience: 10 years</p>
                        <p>Club: Example Club</p>
                          <a class="underline-button">Title<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>            
        </div>
    </section>

    <!-- Matches section content -->
    <section class="matches" id="matches">
      <h2 class="heading">Fixtures & Results</h2>
      <nav class="navbar2">
          <a class="active" href="#fixtures-section" id="fixtures-link">Fixtures</a></li>
          <a href="#results-section" id="results-link">Results</a></li>
      </nav>
      <div id="fixtures-section" class="content-section">
        <div id="fixtures-container" class="fixtures-container">
          <!-- Fixtures for Team 1 -->
          <div class="team-fixtures" id="team1-fixtures">
              <div class="fixture-dropdown">
                  <select id="competition-select">
                      <option value="all">All competitions</option>
                      <option value="ligi-open">Ligi Open</option>
                      <option value="competition-2">Competition 2</option>
                  </select>
              </div>
              <div class="fixture" data-competition="ligi-open">
                  <div class="fixture-date">SUN 05 MAY 2025, 10:30am</div>
                  <div class="fixture-opponent">Team X</div>
                  <div class="fixture-venue">Stadium A</div>
              </div>
              <div class="fixture" data-competition="ligi-open">
                  <div class="fixture-date">WED 08 MAY 2025, 12:30pm</div>
                  <div class="fixture-opponent">Team Y</div>
                  <div class="fixture-venue">Stadium B</div>
              </div>
              <div class="fixture" data-competition="competition-2">
                  <div class="fixture-date">SUN 10 MAY 2025, 3:30pm</div>
                  <div class="fixture-opponent">Team Z</div>
                  <div class="fixture-venue">Stadium C</div>
              </div>
          </div> 
        </div>
      
      </div>
      
      <div class="results-section" id="results-section">
        <div class="container">          
          <!-- Fixture 1 -->
          <div class="fixture">
            <div class="date">
              <p class="date-fix">Thu January 1 2025</p>
              <p class="venue">Venue</p>
              <p class="comp">Competition</p>
            </div>
            <div class="inner-team">
              <div class="team">
                <img src="{% static 'images/logo-1.jpg' %}" alt="Team A Logo">

                <span class="team-name">Team A</span>
              </div>
              <div class="vs">3 - 4</div>
              <div class="team">
                <img src="{% static 'images/logo-1.jpg' %}" alt="Team B Logo">

                <span class="team-name">Team B</span>
              </div>
            </div>
          </div>
          
          <!-- Fixture 2 -->
          <div class="fixture">
            <div class="date">
              <p class="date-fix">Sat January 3 2025</p>
              <p class="venue">Venue</p>
              <p class="comp">Competition</p>
            </div>
            <div class="inner-team">
              <div class="team">
                <img src="{% static 'images/logo-1.jpg' %}" alt="Team A Logo">

                <span class="team-name">Team A</span>
              </div>
              <div class="vs">1 - 0</div>
              <div class="team">
                <img src="{% static 'images/logo-1.jpg' %}" alt="Team B Logo">

                <span class="team-name">Team B</span>
              </div>
            </div>
          </div>     
          
        </div>
      </div>
    </section>
    <footer>
        <!-- Footer content -->
        <p>&copy; 2024 ClubName FC. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/club-staff.js' %}"></script>

</body>
</html>
